* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("../fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  background-color: #389EF2;
}

.header__inner {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-title {
  font-family: "RobotoCondensed-BoldItalic";
  font-size: 2.5rem;
  color: #fff;
  margin: 0 2rem 0 1.2rem;
  cursor: pointer;
}

.header__logo-description {
  font-family: "RobotoCondensed-Bold";
  font-size: 1.4em;
  color: #ffffff;
  text-transform: uppercase;
  border-left: 1px solid #FFC107;
  padding: 1.3rem 0 1.3rem 1rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RobotoCondensed-Bold";
}

.header__nav a {
  color: #fff;
  font-size: 2.2rem;
}

.header__nav a svg path:hover {
  fill: red;
}

.header__nav a:hover {
  color: black;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item svg {
  margin-left: 5.5rem;
}

.nav__item-title {
  margin-left: 1rem;
}

.banner {
  min-height: 495px;
  background: url("../img/Clip.png") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.banner h1 {
  font-size: 12rem;
}

.coming__logo {
  color: #fff;
  font-size: 2.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RobotoCondensed-Bold";
}

.coming__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.coming__inner-bg {
  background-color: #000;
}

.coming__nav-btn {
  font-family: "RobotoCondensed-Bold";
  font-size: 2.1rem;
  color: #fff;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 1.5rem;
  padding: 1rem;
  min-width: 13.7rem;
  cursor: pointer;
  outline: none;
}

.coming__nav-btn:hover {
  background: #ffffff;
  color: #000000;
  border: 1px solid #000;
}

.coming__nav-btn:focus {
  background: #ffffff;
  color: #000000;
  border: 1px solid #000;
}

.post {
  padding: 1rem;
}

.post__wrapper {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}

.post__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  font-family: "Roboto-Bold";
}

.post__box-img {
  margin-top: 1.3rem;
}

.post__img {
  height: 331px;
  width: 218px;
}

.post__title {
  min-height: 52px;
  max-width: 215px;
}

.post__share {
  background-color: white;
  height: 18px;
  width: 20px;
  margin-top: 3.9rem;
}

.post__item {
  margin: 1rem 5rem;
}

.post__item h4, .post__item h5 {
  display: inline;
  margin: 0;
  font-size: 2rem;
}

.post__rate {
  max-width: 218px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__rate img {
  width: 19px;
}

.post__comment img {
  width: 21px;
}

#hor:focus, #ver:focus {
  opacity: 0.5;
}

#hor {
  margin-left: 5rem;
}

#ver {
  margin-left: 2.1rem;
}

.play__wrapper {
  position: relative;
}

.play__youtube {
  position: absolute;
  background: url("../img/play.png");
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
}

.progress-ring__circle {
  -webkit-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

input {
  position: fixed;
  top: 80rem;
  left: 120px;
  width: 80px;
}

.videoIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}

.popular__box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: 6rem;
}

.popular__item {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RobotoCondensed-Bold";
}

.popular__rate {
  margin-right: 1rem;
}

.popular__comment {
  margin-right: 1rem;
}

.popular__share {
  background-color: white;
  height: 18px;
  width: 20px;
  margin-right: 1rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  margin-top: 6rem;
}

.box__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__img {
  width: 10.3rem;
  height: 15.6rem;
}

.box__rate {
  max-width: 218px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  color: #010B13;
}

.box__year {
  padding-right: 0.5rem;
  border-right: 1px solid black;
  margin-right: 0.5rem;
}

.box__director {
  padding-right: 0.5rem;
  border-right: 1px solid black;
  margin-right: 0.5rem;
}

.box__content {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #4B555D;
  font-family: "Roboto-Regular";
}

.film__title {
  font-size: 1.5rem;
  color: #389EF2;
  cursor: pointer;
  font-family: "RobotoCondensed-Bold";
}

.film__info {
  margin-left: 2rem;
  width: 100%;
  font-family: "RobotoCondensed-Bold";
}

#horz:focus, #verz:focus {
  opacity: 0.5;
}

#horz {
  margin-left: 5rem;
}

#verz {
  margin-left: 2.1rem;
}

.coming__nav-btn {
  margin-left: 2.4rem;
}

.read__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.8rem;
  color: #389EF2;
  text-decoration: underline;
}

.footer {
  background-color: black;
}

.footer__title {
  font-size: 2.8rem;
}

.footer__inner {
  font-family: "RobotoCondensed-BoldItalic";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding: 3rem 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.footer__nav a {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid white;
}

.footer__nav a:hover {
  color: #389EF2;
}

.footer__nav a:last-child {
  border: none;
}

.footer__rights {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
/*# sourceMappingURL=style.css.map */