*
    box-sizing: border-box
*:before
*:after 
    box-sizing: border-box

html
    margin: 0
    padding: 0
    list-style: none
    text-decoration: none
    font-size: 10px
body
    font-size: 1rem
    margin: 0
    padding: 0
    list-style: none
    text-decoration: none
*
    margin: 0
    padding: 0
    list-style: none
    text-decoration: none

@import 'blocks/fonts'
@import 'blocks/container'
@import 'blocks/header'
@import 'blocks/banner'
@import 'blocks/coming'
@import 'blocks/popular'
@import 'blocks/footer'
