.banner
    min-height: 495px
    background: url('../img/Clip.png') center center no-repeat
    background-size: cover
    display: flex
    text-align: center
    align-items: center
    color: #fff
    h1
        font-size: 12rem


    