.coming
    &__logo
        color: #fff
        font-size: 2.9rem
        display: flex
        align-items: center
        +bold
    &__inner
        display: flex
        justify-content: space-between
        padding: 1rem 0
        &-bg
            background-color: #000
    &__nav
        &-btn
            +bold
            font-size: 2.1rem
            color: #fff
            background: none
            border: 1px solid #ffffff
            border-radius: 1.5rem
            padding: 1rem
            min-width: 13.7rem
            cursor: pointer
            outline: none
            &:hover
                background: #ffffff
                color: #000000
                border: 1px solid #000
            &:focus
                background: #ffffff
                color: #000000
                border: 1px solid #000


.post
    padding: 1rem
    &__wrapper
        width: min-content
        margin: 0 auto
    &__box
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        font-size: 1.3rem
        margin-top: 1rem
        +boldd
        &-img
            margin-top: 1.3rem
    &__img
        height: 331px
        width: 218px

    &__title
        min-height: 52px
        max-width: 215px
    &__share
        background-color: white
        height: 18px
        width: 20px
        margin-top: 3.9rem

    &__item
        margin: 1rem 5rem
        h4,h5
            display: inline
            margin: 0
            font-size: 2rem
        
.post__rate
    max-width: 218px
    display: flex
    justify-content: space-between
    img
        width: 19px

.post__comment
    img
        width: 21px


#hor,#ver
    &:focus
        opacity: 0.5

#hor
    margin-left: 5rem
#ver
    margin-left: 2.1rem
.play__wrapper
    position: relative

.play__youtube
    position: absolute
    background: url("../img/play.png")
    z-index: 3
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 60px
    height: 60px
    border-radius: 50%
    margin: auto
    cursor: pointer







.progress-ring__circle 
  transition: 0.35s stroke-dashoffset
  // axis compensation
  transform: rotate(-90deg)
  transform-origin: 50% 50%

.progress-ring



input 
  position: fixed
  top: 80rem
  left: 120px
  width: 80px

.videoIframe 
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  width: 100%
  height: 100%
  background-color: transparent
.videoWrapperActive .videoPoster 
  opacity: 0
  height: 0
  -webkit-transition-delay: 0s, 800ms
  -moz-transition-delay: 0s, 800ms
  transition-delay: 0s, 800ms
