@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../fonts/RobotoCondensed-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "RobotoCondensed-BoldItalic";
    src: url("../fonts/RobotoCondensed-BoldItalic.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@mixin regular {
    font-family: "Roboto-Regular";
}
@mixin italic {
    font-family: "RobotoCondensed-BoldItalic";
}
@mixin boldd {
    font-family: "Roboto-Bold";
}


@mixin bold {
    font-family: "RobotoCondensed-Bold";
}

