.footer
    background-color: black
    &__title
        font-size: 2.8rem
    &__inner
        +italic
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        color: #FFFFFF
        padding: 3rem 0
    &__nav
        display: flex
        font-size: 2.5rem
        margin-top: 1.5rem
        a
            text-decoration: none
            color: #FFFFFF
            padding-right: 1rem
            margin-right: 1rem
            border-right: 1px solid white
            &:hover
                color: #389EF2
            &:last-child
                border: none
    &__rights
        margin-top: 1.5rem
        font-size: 1.8rem