.header
    background-color: #389EF2
    &__inner
        padding: 1.5rem 0
        display: flex
        justify-content: space-between
    &__logo
        display: flex
        align-items: center
        &-img
        &-title
            +italic
            font-size: 2.5rem
            color: #fff
            margin: 0 2rem 0 1.2rem 
            cursor: pointer
        &-description
            +bold
            font-size: 1.4em
            color: #ffffff
            text-transform: uppercase
            border-left: 1px solid #FFC107
            padding: 1.3rem 0 1.3rem 1rem

    &__nav
        display: flex
        align-items: center
        +bold
        a
            color: #fff
            font-size: 2.2rem
            svg
                path
                    &:hover
                        fill: red
            &:hover
                color: black
.nav__item
    display: flex
    align-items: center
    svg
        margin-left: 5.5rem
    &-title
         margin-left: 1rem