.popular
    &__box
        display: flex !important
        margin-bottom: 6rem
    &__item
        font-size: 1.8rem
        display: flex
        justify-content: center
        align-items: center
        +bold
    &__rate
        margin-right: 1rem
    
    &__comment
        margin-right: 1rem
    &__share
        background-color: white
        height: 18px
        width: 20px
        margin-right: 1rem
.rating 
    display: flex
    align-items: center
.box
    margin-top: 6rem
    &__wrapper
        display: flex
        justify-content: space-between
    &__img
        width: 10.3rem
        height: 15.6rem
    &__rate
        max-width: 218px
        display: flex
        justify-content: space-between
        margin-top: 2rem
        align-items: center
    &__info
        display: flex
        font-size: 1.6rem
        color: #010B13
    &__year
        padding-right: 0.5rem
        border-right: 1px solid black
        margin-right: 0.5rem
    &__director
        padding-right: 0.5rem
        border-right: 1px solid black
        margin-right: 0.5rem
    &__content
        font-size: 1.8rem
        line-height: 2.4rem
        color: #4B555D
        +regular

.film__title
    font-size: 1.5rem
    color: #389EF2
    cursor: pointer
    +bold
.film__info
    margin-left: 2rem   
    width: 100%
    +bold


#horz,#verz
    &:focus
        opacity: 0.5

#horz
    margin-left: 5rem
#verz
    margin-left: 2.1rem

.coming__nav-btn
    margin-left: 2.4rem


.read__more
    display: flex
    align-items: flex-end
    font-size: 1.8rem
    color: #389EF2
    text-decoration: underline